body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3c5758;
}

.container {
  width: 75%;
  margin: 3rem auto;
  padding: 1rem;
  background: white;
}

header {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  background: #ececec;
  margin-top: 1.2rem;
  margin-bottom: 0.9rem;
  border-radius: 5px;
}

.bio {
  text-align: justify;
  font-size: 0.9rem;
}

.intro {
  display: flex;
}

.intro-photo {
  padding: 0.5rem 2rem 5px 5px;
}

.status-success {
  color: #57e63a;
    text-shadow: 0 1px 1px #2b2727;
    font-weight: 600;
}

.status-danger {
  color: #e6543a;
    text-shadow: 0 1px 1px #2b2727;
    font-weight: 600;
}

.fill {
  display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill > img {
  flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.info > summary{
  margin-bottom: 0.9rem;
}

.tags {
  margin-top: 1rem;
}

.tags > span {
  background: tomato;
  color: white;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.8);
  margin-right: 0.8rem;
  font-size: 0.9rem;
}
